#Pracitce
1.Create a dictionary shown as { 'A': {'a':1,'b':1,'c':3},'B':{'b':2,'d':2}}

2.Transform this dictionary into a DataFrame

3.Replace missing entries with 3 (You can use fillna method with the new value as the input).

4.Add a new column "C" and fill [0,1,2,3]

In [1]:
import pandas as pd

In [22]:
#Create a dictionary
dictionary={ 'A': {'a':1,'b':1,'c':3},'B':{'b':2,'d':2} }
print(dictionary)

{'A': {'a': 1, 'b': 1, 'c': 3}, 'B': {'b': 2, 'd': 2}}

In [29]:
#Transform this dictionary into a DataFrame
df=pd.DataFrame(dictionary)
print(df)

     A    B
a  1.0  NaN
b  1.0  2.0
c  3.0  NaN
d  NaN  2.0

In [30]:
#Replace missing entries with 3
df.fillna(3, inplace=True)
print(df)

     A    B
a  1.0  3.0
b  1.0  2.0
c  3.0  3.0
d  3.0  2.0

In [31]:
#Add a new column "C" and fill [0,1,2,3]
df['C'] = [0, 1, 2, 3]
print(df)

     A    B  C
a  1.0  3.0  0
b  1.0  2.0  1
c  3.0  3.0  2
d  3.0  2.0  3